@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=Walter+Turncoat&display=swap');

body {
    font-family: Ubuntu, sans-serif;
    color: black;
    font-weight: 400;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #CCB9A1;
}
/* logo and headings */

h1 {
 font-family: Walter Turncoat, sans-serif;
 letter-spacing: 3px;
 color: black;
 font-size: 70px;
}

.hero-image {
    max-width: 100%;
    width: 1500px;
    margin: 0;
    padding: 0;
   }

   /*navigation*/

   #slide-back {
       width: 10%;
       height: 30%;
       background-color: white;
       position: fixed;
       top: 0;
       left: 0;
       font-size: 33px;   

    nav {
        padding: 10px 34px;

        a {
            display: block;
            margin-bottom: 25px;
            text-decoration: none;
            color: aqua;

        }
    }   
   }

   #tilt-window {
       height: 50vh;
       width: 50vh;
       position: relative;
       overflow-x: hidden;
       overflow-y: scroll;
       z-index: 2;

       &.tilt {
           overflow: hidden;
           pointer-events: none;
           #tilt-front {
               transform: rotate(10deg) translateZ(0);}
           }
       }

       /* to rotate*/
       #tilt-front {
           pointer-events: auto;
           position: relative;
           z-index: 3;
           background-color: red;
           box-shadow: 0 0 20px rgba(black, 0.7);
           transform-origin: center 70%;
           transition: all 0.3s ease;
       }

   .books {
    float: left;
    padding: 0 20px 20px 0;
   
   
   }

   p {
       float: left;
       line-height: 190%;
   }
